---
import App from "../../app.json";
import Card from "../components/Card.astro";
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
import Subscribe from "../components/Subscribe.astro";
import Video from "../components/Video.astro";
---

<Layout title="Your new space adventure">
  <section
    class="p-5 flex items-center flex-col transition-all duration-75 ease-out max-w-7xl m-auto gap-y-20 min-h-screen"
  >
    <div class="flex items-center flex-col justify-center gap-y-7">
      <p class="lg:text-2xl text-lg font-medium text-center lg:w-1/2">
        <span class="font-black">{App.name}</span>
        {App.description.join(" ")}
      </p>
    </div>
    <Video />
    <Subscribe />
    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3">
      {App.features.map((feature) => <Card {...feature} />)}
    </div>
  </section>
</Layout>
