---
// Insert your favorite icons from https://heroicons.dev
// or use your own SVGs

import { THEME } from "../lib/theme";

export interface Props {
  body: string;
  title: string;
}

const { title, body } = Astro.props;
---

<div class="mp-5 rounded-lg shadow-xl ml-embedded" data-form="xRYjPX"></div>
